@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    user-select: none;
}

body{
    margin:auto;    
    max-width: 1980px;
    /* font-family: "Syne", sans-serif; */
    /* font-family: 'poppins', sans-serif; */
}

